{
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 8000,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": false
}